.AnchorPane{
    -fx-background-color: white;
}
.button{
    -fx-background-color: #400303;
    -fx-text-fill: white;
    -fx-animated: true;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color: #400303;
    -fx-text-fill: white;
    -fx-animated: true;
    -fx-font-weight: bolder;
}
.menuButton{
    -fx-background-color: white;
    -fx-text-fill: #400303;
    -fx-font-size: 18px;
}
.menuButton:hover{
    -fx-background-color: #400303;
    -fx-text-fill: white;
}
.text-field{
    -fx-text-inner-color: #740707;
    -fx-prompt-text-fill: rgba(116, 7, 7, 0.69);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-box-border: transparent;

}

.menuAnchorPane{
    -fx-background-color: #740707;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 15 0 0 15;
}
.anchorPane{
    -fx-background-color: #740707;
}
.text-field:focused {
    -fx-focus-color: transparent;
}
.jfx-hamburger StackPane { -fx-background-color: white; }

.menuLabel{
    -fx-text-fill:#400303 ;
    -fx-text-alignment: center;
}

.loginAnchorPane{
    -fx-background-color: #740707;
    -fx-border-radius: 0 15 15 0;
    -fx-background-radius: 0 15 15 0;
}
.table-view{
    -fx-base: #8c8f8c;
    -fx-control-inner-background: #8c8f8c;
    -fx-background-color: #8a8a8a;
    -fx-pref-columns: 10;
    -fx-text-fill: #252525;
    -fx-selection-bar: GREY;
    -fx-selection-bar-non-focused: GREY;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-text-fill: #252525;
}

.table-view .column-header {
    -fx-background-color:#400303;
    -fx-text-fill: white;
}
.title{
    -fx-text-fill: #400303;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.dataText{
    -fx-text-fill: #400303;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.centerDonCombobox{
    -fx-font-size: 18px;
}


.table-view .column-header-background{
    -fx-background-color: #393939;
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:BOLD;
    -fx-text-fill: #f9ffff;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view .table-cell{
    -fx-font-size:12px;
}
.table-row-cell:hover {
    -fx-background-color: #979491;
    -fx-text-fill: #1e1e1e;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
    -fx-text-fill: #252525;
}

.table-row-cell:odd{
    -fx-background-color: #c5c4c2;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}


.table-row-cell:selected {
    -fx-border-color:#252525; ;
    -fx-border-width:1.5;
    -fx-font-weight: bold;
    -fx-text-fill: #252525;
}


jfx-combo-box{
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-prompt-text-fill: #4d4d4d;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.jfx-combo-box .combo-box-button-container{
    -fx-background-color:TRANSPARENT;
}


.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
}


.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #400303;
}


.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}